@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.task-modal {
  --main-padding: 2em;

  @include mx.center-self(horizontal, absolute);
  max-height: 960px;
  overflow-y: auto;
  bottom: 0;
  background: var(--color-background);
  padding: var(--main-padding);
  width: min(800px, 95%);
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);

  &__title {
    @extend %main-title;
    margin-bottom: 1.65rem;
  }

  &__btn-close {
    position: absolute;
    right: var(--main-padding);
    width: 20px;
    height: 20px;
    color: var(--color-accent-2);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__label {
    display: flex;
    flex-direction: column;

    & span {
      margin-bottom: 0.25rem;
      font-family: var(--font-poppins);
      font-size: var(--text-sm);
    }

    & small {
      @extend %main-subtitle;
      font-size: var(--text-xs);
    }
  }

  &__input {
    margin-top: 0.15rem;
    padding: 0.5rem 0.75rem;
    font-family: var(--font-inter);
    font-size: var(--text-sm);
    background: transparent;
    border: var(--border-emph);
    border-radius: var(--border-radius-2);

    &[type='number'] {
      width: fit-content;
    }

    &.textarea {
      resize: vertical;
    }
  }

  &__btn-submit {
    @extend %main-btn;
    padding: 0.675rem 0.5rem;
    color: var(--color-light-1);
    border-radius: var(--border-radius-full);
    background: var(--color-primary);
    margin-bottom: 2.25rem;

    &:disabled {
      background: var(--color-grey-light-1);
      color: var(--color-text-alpha75);
    }
  }
}
