@use '@/styles/mixins' as mx;

body {
  --max-page-width: 1400px;
  --distance-top: 2rem;
  --sidebar-width: 225px;

  //====== FONT SIZE VARIABLES ======//

  // Body Font Size
  --text-base-size: 1rem;

  // Type Scale
  --text-scale-ratio: 1.15;

  --text-4xs: calc(var(--text-3xs) / var(--text-scale-ratio));
  --text-3xs: calc(var(--text-2xs) / var(--text-scale-ratio));
  --text-2xs: calc(var(--text-xs) / var(--text-scale-ratio));
  --text-xs: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-sm: var(--text-base-size);
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-2xl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-3xl: calc(var(--text-2xl) * var(--text-scale-ratio));
  --text-4xl: calc(var(--text-3xl) * var(--text-scale-ratio));

  //====== FONT VARIABLES ======//
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif, monospace;
  --font-inter: 'Inter', Arial, Helvetica, sans-serif, monospace;
  --font-raleway: 'Raleway', Arial, Helvetica, sans-serif, monospace;
  --font-quicksand: 'Quicksand', Times, 'Times New Roman', serif, monospace;

  //====== COLOR VARIABLES ======//
  --color-primary: #422afb;
  --color-secondary: #80d8ff;
  --color-accent-1: #202b5d;
  --color-accent-2: #11047a;
  --color-accent-3: #8f9bba;

  --color-success: #01b574;
  --color-error: #ee5d50;

  --color-background: #fefefe;
  --color-background-accent: #f5f7fe;
  --color-background-alpha75: #fefefebe;
  --color-background-alpha50: #fefefe86;
  --color-background-alpha25: #fefefe48;
  --color-background-opposite: #353535;

  --color-light-1: #fefefe;
  --color-light-2: #f4ebd9;
  --color-dark-1: #3a3b37;
  --color-dark-2: #090909;

  --color-text: #1c1c1c;
  --color-text-accent: #3b3a42;
  --color-text-alpha75: #3b3a42b7;
  --color-text-alpha50: #3b3a4283;
  --color-text-alpha25: #3b3a4248;
  --color-text-alpha10: #3b3a421f;
  --color-text-opposite: #f2f5ff;

  --color-grey-light-1: #e9e9e9;
  --color-grey-light-2: #f2efee;
  --color-grey-light-3: #d3c7c3;
  --color-grey-dark-1: #4b4747;
  --color-grey-dark-2: #272525;

  //====== BOX SHADOW VARIABLES ======//
  --box-shadow-strong: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --box-shadow-medium: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --box-shadow-light: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  //====== BORDER VARIABLES ======//
  --border-emph: 1px solid var(--color-text-alpha25);
  --border-radius-full: 10em;
  --border-radius-1: 10px;
  --border-radius-2: 4.5px;
}
