@use '@/styles/placeholders';

.task-card {
  --main-padding: 0.65em;
  background: var(--color-background);
  position: relative;
  padding: var(--main-padding);
  border: 1px solid var(--color-accent-3);
  border-radius: var(--border-radius-1);
  margin-block: 0.75rem;
  box-shadow: var(--box-shadow-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

  &__title {
    @extend %task-title;
  }

  &__description {
    @extend %task-description;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &__detail {
    @extend %task-detail;
    margin-block: 0.15rem;
    display: flex;
    gap: 0.65rem;
  }

  &__icon {
    height: 16px;
    width: 16px;
    color: var(--color-accent-3);
  }

  &__bottom {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__estimate {
    font-size: var(--text-lg);
    font-weight: 500;
  }

  &__btn-container {
    display: flex;
    gap: 0.5rem;

    & button {
      color: var(--color-text-accent);
      border-radius: var(--border-radius-full);

      &:hover,
      &:focus {
        color: var(--color-primary);
      }
    }

    & svg {
      height: 16px;
      width: 16px;
    }
  }
}
