@use '@/styles/placeholders';

.tk-item {
  position: relative;
  margin-block: 1rem;
  border: 1px solid var(--color-accent-3);
  box-shadow: var(--box-shadow-light);
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-2);

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  &__main {
    display: flex;
    align-items: flex-end;
    gap: 0.45rem;
  }

  &__title {
    @extend %task-title;
  }

  &__time {
    color: var(--color-text-accent);

    &::before {
      content: ' • ';
    }
  }

  &__list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & dt {
      @extend %task-detail;
      margin-bottom: 0.35rem;
      font-size: var(--text-xs);
    }

    & dd {
      font-size: var(--text-xs);
    }
  }

  &__btn-container {
    display: flex;
    gap: 0.25rem;

    & button {
      border-radius: var(--border-radius-full);
    }

    & svg {
      height: 16px;
      width: 16px;
    }
  }
}
