@use '@/styles/mixins' as mx;
@use '@/styles/maps' as maps;

.sidebar {
  flex-shrink: 0;
  width: var(--sidebar-width);
  background: var(--color-background);
  padding-block: var(--distance-top);
  padding-inline: 2rem 1.5rem;
  box-shadow: var(--box-shadow-light);
  border-right: var(--border-emph);

  &__logo {
    margin-bottom: var(--distance-top);
    font-family: var(--font-quicksand);
    font-size: var(--text-3xl);
    font-weight: 500;
    color: var(--color-accent-2);

    & strong {
      font-weight: 700;
    }
  }
}

.nav {
  color: var(--color-text-accent);

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-block: 0.85rem;
    opacity: 0.75;

    &.active {
      box-shadow: 4px 0px 0px 0px var(--color-accent-2);
      opacity: 1;
    }
  }
}
