@use '@/styles/placeholders';

.week-ov {
  %week-btn {
    width: fit-content;
    box-shadow: var(--box-shadow-light);
    border: 1px solid var(--color-accent-3);
    border-radius: var(--border-radius-2);
  }

  background: var(--color-background-alpha50);

  &__top {
    display: flex;
    gap: 0.45rem;
  }

  &__btn-container {
    @extend %week-btn;
    display: flex;
    align-items: center;
    color: var(--color-accent-1);
  }

  &__week-label {
    @extend %main-btn;
    padding-inline: 0.5rem;
  }

  &__btn {
    display: block;
    height: 30px;

    & svg {
      height: 20px;
      width: 20px;
      stroke: currentColor;
    }

    &.reset {
      @extend %week-btn;
      @extend %main-btn;
      color: var(--color-text-accent);
      padding-inline: 0.5rem;
      height: 32px;
    }
  }

  &__list {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
  }

  &__total {
    @extend %main-total;
    margin-block: 1em;
  }

  &__day {
    min-width: 190px;
    flex-shrink: 0;
    width: calc(100% / 7);
  }
}
